<ion-header>
	<ion-navbar color="primary">
		<ion-title>View Profile</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
				<ion-card>
					<ion-card-header>
						<h1>{{dataSrv.activeProfile.fullName}}</h1>
						<p>{{dataSrv.myAccount.owner}}</p>
					</ion-card-header>
					<ion-list>
						<ion-item>
							Bids Placed
							<p item-right>{{dataSrv.activeProfile.bidsCount}}</p>
						</ion-item>
						<ion-item>
							Lots Won
							<p item-right>{{dataSrv.activeProfile.wins}}</p>
						</ion-item>
						<ion-item>
							Total Spent
							<p item-right>{{dataSrv.activeProfile.totalSpent | currency}}</p>
						</ion-item>
					</ion-list>
				</ion-card>
			</ion-col>
			<ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
				<ion-card>
					<ion-card-header>
						Bid History
					</ion-card-header>
					<ion-list>
						<template ngFor let-bid [ngForOf]="dataSrv.activeProfile.bids">
							<button *ngIf="bid.status == 'Placed' || bid.status == 'Outbid' || bid.status == 'Winner'" ion-item>
								<h2>Lot #{{bid.lotID}}</h2>
								<h3>{{bid.amount | currency}}</h3>
								<p>{{formatBidTimestamp(bid.bidTime)}}</p>
								<ion-badge *ngIf="bid.status == 'Placed'" color="go" item-right>{{bid.status}}</ion-badge>
								<ion-badge *ngIf="bid.status == 'Outbid'" color="danger" item-right>{{bid.status}}</ion-badge>
								<ion-badge *ngIf="bid.status == 'Winner'" color="secondary" item-right>{{bid.status}}</ion-badge>
							</button>
						</template>
					</ion-list>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
