<!--
 	Lot Page
	========
	Details for a particular lot. Allows bidding
	and accepting of bids.
-->

<!-- Page header -->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>Lot Details</ion-title>
	</ion-navbar>
</ion-header>

<!-- Everything else -->
<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
				<ion-card>
					<!-- Lot details -->
					<ion-card-header text-center>
						<h1 class="lotID">Lot #{{dataSrv.activeLot.id}}</h1>
					</ion-card-header>
					<ion-list>
						<ion-item>
							Make
							<p item-right>{{dataSrv.activeLot.make}}</p>
						</ion-item>
						<ion-item>
							Model
							<p item-right>{{dataSrv.activeLot.model}}</p>
						</ion-item>
						<ion-item>
							Trim
							<p item-right>{{dataSrv.activeLot.trim}}</p>
						</ion-item>
						<ion-item>
							Year
							<p item-right>{{dataSrv.activeLot.year}}</p>
						</ion-item>
						<ion-item>
							Mileage
							<p item-right>{{dataSrv.activeLot.mileage}}</p>
						</ion-item>
					</ion-list>
				</ion-card>
				<!-- Show a notice based on lot status -->
				<!-- If our dealer has the highest bid -->
				<ion-card *ngIf="dataSrv.isWinningActiveLot()" text-center padding color="secondary">
					<h2>Your dealer is winning!</h2>
				</ion-card>
				<!-- If our dealer has won -->
				<ion-card *ngIf="dataSrv.hasWonActiveLot()" text-center padding color="secondary">
					<h2>Your dealer has won this lot!</h2>
				</ion-card>
				<!-- Show a card based on lot status -->
				<!-- If bidding is open -->
				<ion-card *ngIf="dataSrv.activeLotIsOpen()" text-center padding color="go">
					Bidding is
					<h1 margin>Open</h1>
					<p>Current Price: {{dataSrv.activeLot.currentPrice | currency}}</p>
					<!-- Admins can mark the highest bid as the winner -->
					<button *ngIf="dataSrv.role == 'admin'" ion-button round (click)="acceptBid()">
						Accept &amp; Close
					</button>
				</ion-card>
				<!-- If the lot has been sold -->
				<ion-card *ngIf="dataSrv.activeLotIsSold()" text-center padding color="danger">
					This lot has been
					<h1 margin>SOLD</h1>
					Winning Bid: {{dataSrv.activeLot.currentPrice | currency}}
				</ion-card>
				<!-- If bidding hasn't opened yet -->
				<ion-card *ngIf="dataSrv.auctionTiming() == 'upcoming'" text-center padding color="primary">
					This lot will open on
					<h1 margin>{{moment(dataSrv.activeAuction.startTime).format("MMMM D")}}</h1>
				</ion-card>
				<!-- If bidding is open, user can see bidding controls -->
				<ion-card *ngIf="dataSrv.activeLotIsOpen() && dataSrv.role == 'user'" text-center>
					<ion-card-header text-left>
						Place New Bid
					</ion-card-header>
					<!-- Quick Bid automatically bids $1,000 above current max -->
					<button ion-button class="quickbid" icon-left color="go" large round (click)="quickBid()">
						<ion-icon name="logo-usd"></ion-icon>
						+1,000
					</button>
					<h2>OR</h2>
					<!-- Set custom bid amount -->
					<ion-item>
						<ion-label inset>USD $ </ion-label>
						<ion-input [(ngModel)]="bidAmount" type="text" placeholder="Enter here" text-right></ion-input>
					</ion-item>
					<button ion-button round (click)="confirmBid()">Bid</button>
				</ion-card>
				<!-- After the lot is opened, show history of bids -->
				<ion-card *ngIf="dataSrv.auctionTiming != 'upcoming'">
					<ion-card-header>
						<h2>Bid History</h2>
					</ion-card-header>
					<ion-list>
						<template ngFor let-bid [ngForOf]="dataSrv.activeLot.bids">
							<ion-item *ngIf="bid.status == 'Placed' || bid.status == 'Winner'">
								{{formatBidTime(bid.bidTime)}}
								<h2 class="maxbid" item-right>{{bid.amount | currency}}</h2>
							</ion-item>
						</template>
						<template ngFor let-bid [ngForOf]="dataSrv.activeLot.bids">
							<ion-item *ngIf="bid.status == 'Outbid'">
								{{formatBidTime(bid.bidTime)}}
								<h3 item-right>{{bid.amount | currency}}</h3>
							</ion-item>
						</template>
					</ion-list>
				</ion-card>
			</ion-col><!-- FURTHER DATA (NoSQL) REMOVED UNTIL WE'RE READY FOR IT
			<ion-col col-12 col-sm-9 col-md-6 col-lg-8 col-xl-3>
				<ion-card>
					<ion-card-header>
						Additional Information
					</ion-card-header>
					This card will contain additional information from NoSQL.
				</ion-card>
			</ion-col>-->
		</ion-row>
	</ion-grid>
</ion-content>
