<ion-header>
  <ion-navbar color="primary">
      <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
      <img src="./assets/logo.png">
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!--
		BEGIN USER VIEW ----------------------------------
	-->
    <ion-grid *ngIf="dataSrv.role == 'user'">
        <ion-row>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        Hi, {{dataSrv.creds.firstName}} {{dataSrv.creds.lastName}}.
                    </ion-card-header>
                    <ion-list>
                        <ion-item>
                            <ion-icon name="cash" item-left></ion-icon>
							<h2>{{dataSrv.myAccount.availableCredit | currency}}</h2>
							<p>Available Credit</p>
                        </ion-item>
                        <button *ngIf="dataSrv.currentAuction.id == null" ion-item disabled>
                            <ion-icon name="megaphone" item-left></ion-icon>
                            Current Auction
                        </button>
						<button *ngIf="dataSrv.currentAuction.id != null" ion-item (click)="navToAuction(dataSrv.currentAuction.id)">
                            <ion-icon name="megaphone" color="go" item-left></ion-icon>
                            Current Auction
                        </button>
                        <button ion-item (click)="navCtrl.push(profileViewPage)">
                            <ion-icon name="pricetag" item-left></ion-icon>
                            Purchase History
                        </button>
                    </ion-list>
                </ion-card>
            </ion-col>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        Upcoming Auctions
                    </ion-card-header>
                    <ion-list>
                        <template ngFor let-auct [ngForOf]="dataSrv.auctions">
							<button *ngIf="dataSrv.auctionTiming(auct) == 'upcoming'" ion-item (click)="navToAuction(auct.id)">
								<h2>{{auct.city}}, {{auct.stateCode}}</h2>
								<p>{{formatDate(auct.startTime)}}</p>
								<ion-badge *ngIf="dataSrv.isRegForAuction(auct)" color="go" item-right>
									Registered
								</ion-badge>
								<ion-badge *ngIf="!dataSrv.isRegForAuction(auct)" color="danger" item-right>
									Unregistered
								</ion-badge>
							</button>
						</template>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
	<!--
		BEGIN ADMIN VIEW ----------------------------------
	-->
	<ion-grid *ngIf="dataSrv.role == 'admin'">
        <ion-row>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-3 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        Auctions in Progress
                    </ion-card-header>
                    <ion-list>
						<template ngFor let-auct [ngForOf]="dataSrv.auctions">
							<button *ngIf="dataSrv.auctionTiming(auct) == 'current'" ion-item (click)="navToAuction(auct.id)">
								<h2>{{auct.city}}, {{auct.stateCode}}</h2>
								<p>Ends at {{formatTime(auct.endTime)}}</p>
							</button>
						</template>
                    </ion-list>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        Upcoming Auctions
                    </ion-card-header>
                    <ion-list>
                        <template ngFor let-auct [ngForOf]="dataSrv.auctions">
							<button *ngIf="dataSrv.auctionTiming(auct) == 'upcoming'" ion-item (click)="navToAuction(auct.id)">
								<h2>{{auct.city}}, {{auct.stateCode}}</h2>
								<p>{{formatDate(auct.startTime)}}</p>
							</button>
						</template>
                    </ion-list>
                </ion-card>
            </ion-col>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-5 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        Total Sales by Vehicle Type
                    </ion-card-header>
                    <canvas #chartCanvas></canvas>
                </ion-card>
            </ion-col>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                <ion-card>
                    <ion-card-header>
                        Top Dealers
                    </ion-card-header>
                    <ion-list>
						<template ngFor let-acct [ngForOf]="dataSrv.accountsBySpent" let-i="index">
							<ion-item *ngIf="i < 4">
								<h2>{{acct.owner}}</h2>
								<p>{{acct.buyers.length}} {{acct.buyers.length == 1 ? "buyer" : "buyers"}}</p>
								<ion-badge *ngIf="i == 0" color="secondary" item-right>
									{{acct.totalSpent | currency}}
								</ion-badge>
								<ion-badge *ngIf="i > 0" item-right>
									{{acct.totalSpent | currency}}
								</ion-badge>
							</ion-item>
						</template>
                    </ion-list>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        Top Individual Buyers
                    </ion-card-header>
                    <ion-list>
						<template ngFor let-profile [ngForOf]="dataSrv.profilesBySpent" let-i="index">
							<ion-item *ngIf="i < 4">
								<h2>{{profile.fullName}}</h2>
								<p>{{profile.accountOwner}}</p>
								<ion-badge *ngIf="i == 0" color="secondary" item-right>
									{{profile.totalSpent | currency}}
								</ion-badge>
								<ion-badge *ngIf="i > 0" item-right>
									{{profile.totalSpent | currency}}
								</ion-badge>
							</ion-item>
						</template>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
