<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>Navigation</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button ion-item (click)="openPage(AboutPage)">
				<ion-icon name="home" item-left></ion-icon>
				Dashboard
			</button>
			<button ion-item (click)="openPage(ContactPage)">
				<ion-icon name="pricetags" item-left></ion-icon>
				Auctions
			</button>
			<button ion-item *ngIf="loginProvider.creds.role == 'admin'">
				<ion-icon name="contact" item-left></ion-icon>
				Accounts
			</button>
			<button ion-item *ngIf="loginProvider.creds.role == 'user'">
				<ion-icon name="contact" item-left></ion-icon>
				Account
			</button>
			<button ion-item *ngIf="loginProvider.creds.role == 'admin'">
				<ion-icon name="stats" item-left></ion-icon>
				Reports
			</button>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
