<!--
	Root Component Script
	=====================
	The root component contains the slideout navigation menu
	and a container for whichever page is being displayed.
-->

<!-- Slideout navigation menu (only on home page) -->
<ion-menu [content]="content">
	<!-- Header -->
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>Navigation</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<!-- Menu items for both role types -->
			<button ion-item menuClose>
				<ion-icon name="home" item-left></ion-icon>
				Dashboard
			</button>
			<button ion-item menuClose (click)="nav.push(auctionListPage)">
				<ion-icon name="pricetags" item-left></ion-icon>
				Auctions
			</button>
			<!-- User-specific menu items -->
			<button ion-item menuClose *ngIf="dataSrv.role == 'user'" (click)="nav.push(accountViewPage)">
				<ion-icon name="contact" item-left></ion-icon>
				Account
			</button>
			<!-- Admin-specific menu items -->
			<button ion-item menuClose *ngIf="dataSrv.role == 'admin'" (click)="nav.push(accountListPage)">
				<ion-icon name="contacts" item-left></ion-icon>
				Accounts
			</button>
			<button ion-item menuClose *ngIf="dataSrv.role == 'admin'" (click)="nav.push(reportsPage)">
				<ion-icon name="stats" item-left></ion-icon>
				Reports
			</button>
		</ion-list>
		<!-- Profile card -->
		<ion-card>
			<ion-list>
				<ion-list-header>Logged in as</ion-list-header>
				<ion-item>
					<h2>{{dataSrv.creds.firstName}} {{dataSrv.creds.lastName}}</h2>
					<!-- Show a badge for admins -->
					<p *ngIf="dataSrv.role == 'user'">{{dataSrv.myAccount.owner}}</p>
					<ion-badge *ngIf="dataSrv.role == 'admin'" color="danger" item-right>Admin</ion-badge>
				</ion-item>
				<!-- ProfileViewPage access for users -->
				<button ion-item menuClose (click)="nav.push(profileViewPage)" *ngIf="dataSrv.role == 'user'">
					<ion-icon name="person" item-left></ion-icon>
					View Profile
				</button>
				<!-- Log Out button -->
				<button ion-item menuClose (click)="showLogoutConfirm()">
					<ion-icon name="log-out" item-left></ion-icon>
					Log Out
				</button>
			</ion-list>
		</ion-card>
	</ion-content>
</ion-menu>

<!-- View container -->
<ion-nav #content [root]="rootPage"></ion-nav>
