<ion-header>
	<ion-navbar color="primary">
		<ion-title>View Auction</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-12 col-sm-9 col-md-6 col-lg-6 offset-lg-3 col-xl-3>
				<ion-card>
					<ion-card-header text-center>
						<p>Auction #{{dataSrv.activeAuction.id}}</p>
						<h1>{{dataSrv.activeAuction.city.concat(', ', dataSrv.activeAuction.stateCode)}}</h1>
						<h3>{{formatDate()}}</h3>
						<h3>{{formatTime()}}</h3>
					</ion-card-header>
					<ion-list>
						<ion-item>
							<ion-icon name="navigate" item-left></ion-icon>
							<p item-right>{{dataSrv.activeAuction.address.concat(', ', dataSrv.activeAuction.city, ', ', dataSrv.activeAuction.stateCode, ', ', dataSrv.activeAuction.postalCode)}}</p>
						</ion-item>
					</ion-list>
				</ion-card>
				<ion-card>
					<ion-card-header>Lot Listing</ion-card-header>
					<ion-list>
						<ion-item-sliding *ngFor="let lot of dataSrv.activeAuction.lots">
							<button ion-item (click)="navToLot(lot.id)">
								<ion-badge item-left>#{{lot.id}}</ion-badge>
								<h2>{{lot.desc}}</h2>
								<h3>{{lot.mileage}} miles</h3>
								<p>{{lot.bidsCount}} bids</p>
								<h2 item-right>{{lot.currentPrice | currency}}</h2>
							</button>
							<ion-item-options side="right">
								<button *ngIf="dataSrv.role == 'user'" ion-button color="go">
									<ion-icon name="logo-usd"></ion-icon>
									+1,000
								</button>
								<button *ngIf="dataSrv.role == 'admin'" ion-button color="go">
									<ion-icon name="checkmark"></ion-icon>
									Close
								</button>
							</ion-item-options>
						</ion-item-sliding>
					</ion-list>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
